In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
import warnings

In [2]:
url = "https://raw.githubusercontent.com/niravpatidar37/Data/main/Fish.csv"
df = pd.read_csv(url)

In [3]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [6]:
df.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

X = df.drop('Species', axis=1)
y = df.Species

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

print("X_train:" , X_train.shape)
print("X_test:" , X_test.shape)
print("y_train:" , y_train.shape)
print("y_test:" , y_test.shape)

X_train: (127, 6)
X_test: (32, 6)
y_train: (127,)
y_test: (32,)

In [8]:
from sklearn.ensemble import RandomForestClassifier

# Create the model instance
model = RandomForestClassifier()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
predicted = model.predict(X_test)
print("Prediction:", predicted)

Prediction: ['Smelt' 'Pike' 'Perch' 'Perch' 'Perch' 'Bream' 'Pike' 'Pike' 'Smelt'
 'Pike' 'Perch' 'Roach' 'Parkki' 'Bream' 'Pike' 'Perch' 'Perch' 'Perch'
 'Perch' 'Parkki' 'Pike' 'Roach' 'Perch' 'Perch' 'Pike' 'Pike' 'Perch'
 'Perch' 'Perch' 'Bream' 'Roach' 'Parkki']

In [9]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, predicted)

print("Accuracy:", accuracy)

Accuracy: 0.8125